* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    text-align: center;
    justify-content: center;
    display: flex;
}

header {
    background-color: rgba(255, 0, 0, 0.546);
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    height: 70px;
    border: 2px solid rgba(0, 0, 0, 0.582);
}

header h1 {
    color: white;
    padding-left: 30px;
}

.head {
    margin-right: 30px;
}

section {
    width: 70%;
    justify-content: space-between;
    display: flex;
    height: 220px;
    background-color: rgba(0, 0, 255, 0.498);
}

section ul li {
    margin-left: 30px;
}

.book {
    width: 50%;
    text-align: center;
    align-items: center;
    line-height: 110px;
    background-color: rgba(18, 18, 6, 0.622);
}